.message {
  width: 502px;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: #d8000c;
  background-color: white;
  vertical-align: middle;
  height: 20px;
}
